In [1]:
import pandas as pd
import numpy as np

In [2]:
Heroes_original_df = pd.read_json('raw_data/purchase_data.json')

In [3]:
Heroes_original_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 42.7+ KB

In [4]:
Heroes_original_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [5]:
Heroes_original_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [6]:
Heroes_original_df['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

## Total Number of Players

In [7]:
# Total Number of Players
Total_no_of_players = Heroes_original_df['SN'].nunique()
Total_no_of_players
#Total_no_of_players = Heroes_original_df['Gender'].count()
#Total_no_of_players

573

## Purchasing Analysis (Total)

In [7]:
Purchasing_analysis = pd.DataFrame([[Heroes_original_df['Item Name'].nunique(), round(Heroes_original_df['Price'].mean(),2),Heroes_original_df['Item Name'].count(),round(Heroes_original_df['Price'].sum(),2)]],
                                   columns = ['No of Unique Items','Average Price','Number of Purchases','Total Revenue']
                                  )
Purchasing_analysis

   No of Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179           2.93                  780        2286.33

### Gender Demographics

In [32]:
Gender_Demographics = pd.DataFrame(Heroes_original_df.groupby('Gender').SN.nunique())
Gender_Demographics.columns = ['Total Count']
Gender_Demographics['Percentage'] = round(Gender_Demographics['Total Count']/Total_no_of_players*100,2)
Gender_Demographics = Gender_Demographics[['Percentage','Total Count']]
Gender_Demographics.sort_values('Total Count', ascending = False)

                       Percentage  Total Count
Gender
Male                        81.15          465
Female                      17.45          100
Other / Non-Disclosed        1.40            8

In [ ]:
Puechasing_analysis = pd.DataFrame(Heroes_original_df.groupby('Gender').SN.nunique())
Puechasing_analysis.columns = ['Total Count']
Puechasing_analysis['Percentage'] = round(Puechasing_analysis['Total Count']/Total_no_of_players*100,2)
Puechasing_analysis = Puechasing_analysis[['Percentage','Total Count']]
Puechasing_analysis.sort_values('Total Count', ascending = False)

### Purchasing Analysis (Gender)

In [ ]:
### Purchase Count
test = Heroes_original_df.groupby(['Gender']).count()
print(test)

In [ ]:
Test = Heroes_original_df.groupby('Gender').mean()
#type(Test)
Test1 = pd.DataFrame(Test)
Average_purchase_price = Test1['Price']
Average_purchase_price

In [ ]:
### Total Purchase Value
Test = Heroes_original_df.groupby('Gender').sum()
#type(Test)
Test1 = pd.DataFrame(Test)
#Test1
Total_purchase_value = Test1['Price']
Total_purchase_value