In [79]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '${:,.2f}'.format

In [80]:
Heroes_original_df = pd.read_json('raw_data/purchase_data.json')

In [81]:
Heroes_original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.6+ KB

In [82]:
Heroes_original_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [83]:
Heroes_original_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,$3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$2.32,Eolo46
2,34,Male,174,Primitive Blade,$2.46,Assastnya25
3,21,Male,92,Final Critic,$1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,$1.27,Aela59

In [84]:
Heroes_original_df['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

## Total Number of Players

In [85]:
# Total Number of Players
Heroes_original_df['Gender'].count()

780

## Purchasing Analysis (Total)

### Number of Unique Items

In [86]:
#Heroes_original_df.loc[Heroes_original_df['Item Name'].unique()].count()
Unique_items =  Heroes_original_df['Item Name'].nunique()
Unique_items

179

### Average Purchase Price

In [101]:
Average_purchase_price = Heroes_original_df['Price']

#Heroes_original_df.style.format({'Price': '${:.2f}'})
test = round(Average_purchase_price.mean(),2)                      
test
#Heroes_original_df.style.format({'test': "${:.2f}"})

2.93

In [98]:
#Heroes_original_df[Heroes_original_df['Item Name'].duplicated()]
#Heroes_original_df.loc(Heroes_original_df['Item Name'].duplicated()).count()
Total_no_of_items = Heroes_original_df['Item Name'].count()
Total_no_of_items

780

In [99]:
Average_price = Heroes_original_df['Price'].sum() / Total_no_of_items
Average_price

2.931192307692303

### Total Number of Purchases

In [103]:
Total_Revenue = Heroes_original_df['Price'].sum()
Total_Revenue = round(Total_Revenue,2)
Total_Revenue

2286.33

### Gender Demographics

In [153]:
df = Heroes_original_df.loc[Heroes_original_df['SN'].nunique()]
df

Age                         22
Gender                    Male
Item ID                     36
Item Name    Spectral Bone Axe
Price                    $2.98
SN                 Siathecal92
Name: 573, dtype: object

In [114]:
# % percentage of Males
#male = attended_bootcamp["Gender"].value_counts()['male']
Heroes_original_df['Gender'].value_counts()['Male'] / Heroes_original_df['Gender'].count()*100

81.15384615384616

In [116]:
# Female
Heroes_original_df['Gender'].value_counts()['Female'] / Heroes_original_df['Gender'].count()*100

17.435897435897434

In [117]:
# Others
Heroes_original_df['Gender'].value_counts()['Other / Non-Disclosed'] / Heroes_original_df['Gender'].count()*100

1.4102564102564104

### Purchasing Analysis Gender

In [138]:
### Purchase Count
Heroes_original_df['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [137]:
Test = Heroes_original_df.groupby('Gender').mean()
#type(Test)
Test1 = pd.DataFrame(Test)
Average_purchase_price = Test1['Price']
Average_purchase_price

Gender
Female                  $2.82
Male                    $2.95
Other / Non-Disclosed   $3.25
Name: Price, dtype: float64

In [142]:
### Total Purchase Value
Test = Heroes_original_df.groupby('Gender').sum()
#type(Test)
Test1 = pd.DataFrame(Test)
#Test1
Total_purchase_value = Test1['Price']
Total_purchase_value

Gender
Female                    $382.91
Male                    $1,867.68
Other / Non-Disclosed      $35.74
Name: Price, dtype: float64