In [43]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '${:,.2f}'.format

In [44]:
Heroes_original_df = pd.read_json('raw_data/purchase_data.json')

In [45]:
Heroes_original_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 42.7+ KB

In [46]:
Heroes_original_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [47]:
Heroes_original_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,$3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$2.32,Eolo46
2,34,Male,174,Primitive Blade,$2.46,Assastnya25
3,21,Male,92,Final Critic,$1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,$1.27,Aela59

In [48]:
Heroes_original_df['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

## Total Number of Players

In [49]:
# Total Number of Players
Total_no_of_players = Heroes_original_df['SN'].nunique()
Total_no_of_players
#Total_no_of_players = Heroes_original_df['Gender'].count()
#Total_no_of_players

573

## Purchasing Analysis (Total)

### Number of Unique Items

In [50]:
Unique_items =  Heroes_original_df['Item Name'].nunique()
Unique_items

179

### Total Number of Purchases

In [51]:
Total_no_of_items = Heroes_original_df['Item Name'].count()
Total_no_of_items

780

### Average Purchase Price

In [52]:
Average_purchase_price = round(Heroes_original_df['Price'].mean(),2)
Average_purchase_price

2.93

### Total Revenue

In [53]:
Total_Revenue = round(Heroes_original_df['Price'].sum(),2)
Total_Revenue

2286.33

### Gender Demographics

In [62]:
Total_no_of_male = Heroes_original_df['Gender'].SN.unique()
Total_no_of_male
#Total_no_of_female = Heroes_original_df['Gender'].value_counts()['Female']
#Total_no_of_others = Heroes_original_df['Gender'].value_counts()['Other / Non-Disclosed']

AttributeError: 'Series' object has no attribute 'SN'

In [55]:
# Percentage of Males
Male_percentage = Total_no_of_male / Total_no_of_players *100
Male_percentage

110.47120418848169

In [56]:
# Percentage of Female
Total_no_of_female / Total_no_of_players *100

23.734729493891798

In [57]:
# Percentage of Others
Total_no_of_others / Total_no_of_players *100

1.9197207678883073

### Purchasing Analysis (Gender)

In [58]:
### Purchase Count
test = Heroes_original_df.groupby(['Gender']).count()
print(test)

                       Age  Item ID  Item Name  Price   SN
Gender
Female                 136      136        136    136  136
Male                   633      633        633    633  633
Other / Non-Disclosed   11       11         11     11   11

In [59]:
Test = Heroes_original_df.groupby('Gender').mean()
#type(Test)
Test1 = pd.DataFrame(Test)
Average_purchase_price = Test1['Price']
Average_purchase_price

Gender
Female                  $2.82
Male                    $2.95
Other / Non-Disclosed   $3.25
Name: Price, dtype: float64

In [60]:
### Total Purchase Value
Test = Heroes_original_df.groupby('Gender').sum()
#type(Test)
Test1 = pd.DataFrame(Test)
#Test1
Total_purchase_value = Test1['Price']
Total_purchase_value

Gender
Female                    $382.91
Male                    $1,867.68
Other / Non-Disclosed      $35.74
Name: Price, dtype: float64