In [1]:
import pandas as pd
import numpy as np

In [2]:
Heroes_original_df = pd.read_json('raw_data/purchase_data.json')

## Total Number of Players

In [3]:
Total_no_of_players = pd.DataFrame([Heroes_original_df['SN'].nunique()],
                                   columns = ['Total Players'])
Total_no_of_players

   Total Players
0            573

## Purchasing Analysis (Total)

In [26]:
Purchasing_analysis_total = pd.DataFrame([[Heroes_original_df['Item Name'].nunique(), Heroes_original_df['Price'].mean(),
                                     Heroes_original_df['Item Name'].count(),Heroes_original_df['Price'].sum()]],
                                   columns = ['No of Unique Items','Average Price','Number of Purchases','Total Revenue']
                                  )
Purchasing_analysis_total['Average Price'] = Purchasing_analysis_total['Average Price'].map("${:.2f}".format)
Purchasing_analysis_total['Total Revenue'] = Purchasing_analysis_total['Total Revenue'].map("${:.2f}".format)

Purchasing_analysis_total

   No of Unique Items Average Price  Number of Purchases Total Revenue
0                 179         $2.93                  780      $2286.33

### Gender Demographics

In [13]:
Gender_Demographics = pd.DataFrame(Heroes_original_df.groupby('Gender').SN.nunique())
Gender_Demographics.columns = ['Total Count']

Gender_Demographics['Percentage of Players'] = round(Gender_Demographics['Total Count']/Heroes_original_df['SN'].nunique()*100)
Gender_Demographics = Gender_Demographics[['Percentage of Players','Total Count']]
Gender_Demographics.sort_values('Total Count', ascending = False)

                       Percentage of Players  Total Count
Gender
Male                                    81.0          465
Female                                  17.0          100
Other / Non-Disclosed                    1.0            8

### Purchasing Analysis (Gender)

In [71]:
#Total_purchase_price = Heroes_original_df['Price'].sum()
#Total_purchase_price
Purchasing_analysis_gender = pd.DataFrame(Heroes_original_df.groupby(['Gender']).SN.count())
Purchasing_analysis_gender.columns = ['Purchase Count']
Purchasing_analysis_gender['Average Purchase Price'] = Purchasing_analysis_gender['Purchase Count'] / Total_purchase_price *100
#Purchasing_analysis_gender['Total Purchase Price'] = Purchasing_analysis_gender['Average Purchase Price'] * Purchasing_analysis_gender['Purchase Count'] 
Purchasing_analysis_gender['Total Purchase Price'] = Purchasing_analysis_gender['Purchase Count']* Heroes_original_df['Price']
Purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Price
Gender,,,
Female,136,5.948398,NaN
Male,633,27.686292,NaN
Other / Non-Disclosed,11,0.481120,NaN

### Age Demographics

In [140]:
ranges = [ (0,10),(10,15), (15, 20), (20, 25),(25,30),(30,35),(35,40) ]

#cnt = []
#for range in ranges:
#    tmp = ranges[(ranges['x'] > range[0]) & (range['x'] <= range[1]) ]
#    cnt.append( len(tmp) )

#Age_details = pd.DataFrame(Heroes_original_df.groupby(['Age','Gender']).size())
Age_details = pd.DataFrame(Heroes_original_df.groupby(['Age']).size())
Age_details.columns = ['Age Count']
Age_details
#Age_details.index.name
#type(Age_details.index.name)
#Age_details[Age_details.index() in ranges(0)]
#Age_details.loc[(Age_details["pledged"] > 0)

     Age Count
Age
7           19
8            3
9            6
10           4
11           9
12           5
13          11
14           6
15          47
16          23
17          17
18          24
19          22
20          98
21          43
22          68
23          57
24          70
25          67
26          13
27          19
28           5
29          21
30          18
31          16
32          11
33          11
34           8
35          12
36           7
37           9
38           9
39           5
40          14
42           1
43           1
45           1

In [162]:
ranges = [ (0,10),(10,15), (15, 20), (20, 25),(25,30),(30,35),(35,40) ]


#Age_details = pd.DataFrame(Heroes_original_df.groupby('Age', as_index = False)['Age'].count())
Age_details = pd.DataFrame(Heroes_original_df.groupby('Age', as_index = False).size())

Age_details.columns = ['Age Count']
Age_details.index
test = []
Ages = Age_details.index.values
for x in ranges:
    print()
    test.append[Age_details['Age Count'] ]
x
#Age_details[Age_details.index() in ranges(0)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [132]:
#type(list(ranges[0]))
y = list(ranges[0])
type(y)
#x = Age_details[Age_details.index in range(y)]
#x

list

In [135]:
for list in ranges:
    print(list)

(0, 10)
(10, 15)
(15, 20)
(20, 25)
(25, 30)
(30, 35)
(35, 40)