In [1]:
import pandas as pd
import numpy as np

In [2]:
Heroes_original_df = pd.read_json('raw_data/purchase_data.json')

In [3]:
Heroes_original_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 42.7+ KB

In [4]:
Heroes_original_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [5]:
Heroes_original_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [6]:
Heroes_original_df['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

## Total Number of Players

In [7]:
# Total Number of Players
Total_no_of_players = pd.DataFrame([Heroes_original_df['SN'].nunique()],
                                   columns = ['Total Players'])
Total_no_of_players

   Total Players
0            573

## Purchasing Analysis (Total)

In [8]:
Purchasing_analysis_total = pd.DataFrame([[Heroes_original_df['Item Name'].nunique(), Heroes_original_df['Price'].mean(),
                                     Heroes_original_df['Item Name'].count(),Heroes_original_df['Price'].sum()]],
                                   columns = ['No of Unique Items','Average Price','Number of Purchases','Total Revenue']
                                  )
Purchasing_analysis_total['Average Price'] = Purchasing_analysis_total['Average Price'].map("${:.2f}".format)
Purchasing_analysis_total['Total Revenue'] = Purchasing_analysis_total['Total Revenue'].map("${:.2f}".format)

Purchasing_analysis_total

   No of Unique Items Average Price  Number of Purchases Total Revenue
0                 179         $2.93                  780      $2286.33

### Gender Demographics

In [9]:
Gender_Demographics = pd.DataFrame(Heroes_original_df.groupby('Gender').SN.nunique())
Gender_Demographics.columns = ['Total Count']
Gender_Demographics['Percentage of Players'] = round(Gender_Demographics['Total Count']/Heroes_original_df['SN'].nunique()*100)
Gender_Demographics = Gender_Demographics[['Percentage of Players','Total Count']]
Gender_Demographics.sort_values('Total Count', ascending = False)

                       Percentage of Players  Total Count
Gender
Male                                    81.0          465
Female                                  17.0          100
Other / Non-Disclosed                    1.0            8

### Purchasing Analysis (Gender)

In [10]:
Purchasing_analysis_gender = pd.DataFrame(Heroes_original_df.groupby(['Gender']).SN.nunique())
Purchasing_analysis_gender.columns = ['Purchase Count']
Purchasing_analysis_gender['Average Purchase Price'] = Heroes_original_df.groupby(['Gender']).Price.mean()
Purchasing_analysis_gender['Total Purchase Price'] = Heroes_original_df.groupby(['Gender']).Price.sum()
Purchasing_analysis_gender['Normalized Totals'] = Purchasing_analysis_gender['Total Purchase Price'] / Purchasing_analysis_gender['Purchase Count']
Purchasing_analysis_gender['Average Purchase Price'] = Purchasing_analysis_gender['Average Purchase Price'].map("${:.2f}".format)
Purchasing_analysis_gender['Total Purchase Price'] = Purchasing_analysis_gender['Total Purchase Price'].map("${:.2f}".format)
Purchasing_analysis_gender['Normalized Totals'] = Purchasing_analysis_gender['Normalized Totals'].map("${:.2f}".format)
Purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
Gender,,,,
Female,100,$2.82,$382.91,$3.83
Male,465,$2.95,$1867.68,$4.02
Other / Non-Disclosed,8,$3.25,$35.74,$4.47

### Age Demographics

In [11]:
ranges = [ (0,10),(10,15), (15, 20), (20, 25),(25,30),(30,35),(35,40) ]
Age_ranges = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
Age_ranges_count = []
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'] < 10].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(10,15))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(15,20))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(20,25))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(25,30))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(30,35))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(35,40))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'] >= 40].SN.nunique())
Age_demographics = pd.DataFrame(list(zip(Age_ranges_count)),index=Age_ranges)
Age_demographics.index.name = 'Age Group'
Age_demographics.columns = ['Total Count']
Age_demographics['Percentage Of Players'] = round(((Age_demographics['Total Count'] / Heroes_original_df['SN'].nunique()) * 100),2)
Age_demographics = Age_demographics[['Percentage Of Players','Total Count']]
Age_demographics

           Percentage Of Players  Total Count
Age Group
<10                         3.32           19
10-14                       4.01           23
15-19                      17.45          100
20-24                      45.20          259
25-29                      15.18           87
30-34                       8.20           47
35-39                       4.71           27
40+                         1.92           11

### Purchasing Analysis (Age)

In [12]:
Age_ranges_mean = []
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'] < 10].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(10,15))].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(15,20))].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(20,25))].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(25,30))].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(30,35))].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(35,40))].Price.mean())
Age_ranges_mean.append(Heroes_original_df.loc[Heroes_original_df['Age'] >= 40].Price.mean())

Age_ranges_sum = []
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'] < 10].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(10,15))].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(15,20))].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(20,25))].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(25,30))].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(30,35))].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(35,40))].Price.sum())
Age_ranges_sum.append(Heroes_original_df.loc[Heroes_original_df['Age'] >= 40].Price.sum())

Age_ranges_count = []
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'] < 10].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(10,15))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(15,20))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(20,25))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(25,30))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(30,35))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(35,40))].SN.nunique())
Age_ranges_count.append(Heroes_original_df.loc[Heroes_original_df['Age'] >= 40].SN.nunique())

User_count = []
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'] < 10].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(10,15))].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(15,20))].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(20,25))].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(25,30))].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(30,35))].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'].isin(range(35,40))].SN.count())
User_count.append(Heroes_original_df.loc[Heroes_original_df['Age'] >= 40].SN.count())

Purchasing_analysis = pd.DataFrame({'Age Group': Age_ranges,
                    'Purchase Count': Age_ranges_count,
                    'Average Purchase Price': Age_ranges_mean,
                    'Total Purchase Value': Age_ranges_sum,
                    'User Count': User_count }).set_index('Age Group')

Purchasing_analysis['Normalized Totals'] = Purchasing_analysis['Total Purchase Value'] / Purchasing_analysis['Purchase Count']
Purchasing_analysis = Purchasing_analysis[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
Purchasing_analysis['Average Purchase Price'] = Purchasing_analysis['Average Purchase Price'].map('${:,.2f}'.format) 
Purchasing_analysis['Total Purchase Value'] = Purchasing_analysis['Total Purchase Value'].map('${:,.2f}'.format) 
Purchasing_analysis['Normalized Totals'] = Purchasing_analysis['Normalized Totals'].map('${:,.2f}'.format) 
Purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,19,$2.98,$83.46,$4.39
10-14,23,$2.77,$96.95,$4.22
15-19,100,$2.91,$386.42,$3.86
20-24,259,$2.91,$978.77,$3.78
25-29,87,$2.96,$370.33,$4.26
30-34,47,$3.08,$197.25,$4.20
35-39,27,$2.84,$119.40,$4.42
40+,11,$3.16,$53.75,$4.89

### Top Spenders

In [13]:
Top_spenders = pd.DataFrame({'Total Purchase Value': Heroes_original_df.groupby('SN').Price.sum(),
                    'Average Purchase Price': Heroes_original_df.groupby('SN').Price.mean(),
                    'Purchase Count': Heroes_original_df.groupby('SN').Price.count()})
Top_spenders = Top_spenders[['Purchase Count','Average Purchase Price','Total Purchase Value']]
Top_spenders = Top_spenders.sort_values('Total Purchase Value', ascending=False).head()
Top_spenders['Average Purchase Price'] = Top_spenders['Average Purchase Price'].map('${:,.2f}'.format) 
Top_spenders['Total Purchase Value'] = Top_spenders['Total Purchase Value'].map('${:,.2f}'.format) 
Top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

### Most Popular items¶

In [14]:
Most_popular_items = pd.DataFrame({'Purchase Count': Heroes_original_df.groupby(['Item ID','Item Name']).Price.count(),
                    'Item Price': Heroes_original_df.groupby(['Item ID','Item Name']).Price.mean(),
                    'Total Purchase Value': Heroes_original_df.groupby(['Item ID','Item Name']).Price.sum()})
Most_popular_items = Most_popular_items[['Purchase Count','Item Price','Total Purchase Value']]
Most_profitable_items = Most_popular_items
Most_popular_items = Most_popular_items.sort_values(['Purchase Count','Total Purchase Value'], ascending=False).head()
Most_popular_items['Item Price'] = Most_popular_items['Item Price'].map('${:,.2f}'.format) 
Most_popular_items['Total Purchase Value'] = Most_popular_items['Total Purchase Value'].map('${:,.2f}'.format) 
Most_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
34,Retribution Axe,9,$4.14,$37.26
31,Trickster,9,$2.07,$18.63
13,Serenity,9,$1.49,$13.41

### Most Profitable items

In [15]:
Most_profitable_items = Most_profitable_items.sort_values(['Total Purchase Value','Purchase Count','Item Price'], ascending=False).head()
Most_profitable_items['Item Price'] = Most_profitable_items['Item Price'].map('${:,.2f}'.format) 
Most_profitable_items['Total Purchase Value'] = Most_profitable_items['Total Purchase Value'].map('${:,.2f}'.format) 
Most_profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88