# PyCity Schools Analysis
- OBSERVED TREND 1
- OBSERVED TREND 2
- OBSERVED TREND 3

In [1]:
import pandas as pd
import numpy as np

In [5]:
schools_data = pd.read_csv('raw_data/schools_complete.csv')
students_data = pd.read_csv('raw_data/students_complete.csv')
school_data_complete = students_data.merge(
                       schools_data.rename(columns={'name':'school'}), how = 'inner')

In [6]:
school_data_complete.head(5)

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [31]:
# Columns Details of the final Output
Columns = ['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']
# Basic Calculation2
Total_schools = school_data_complete['school'].nunique()
Total_students = school_data_complete['Student ID'].nunique()
Total_budget = school_data['budget'].sum()
Total_math_score = school_data_complete['math_score'].sum()
Total_reading_score = school_data_complete['reading_score'].sum()

# Total Passing Math and Reading
Passing_math_count = school_data_complete[(school_data_complete['math_score']>70)].count()['name']
Passing_reading_count = school_data_complete[(school_data_complete['reading_score']>70)].count()['name']
Overall_passing_count = school_data_complete[((school_data_complete['math_score']>70) & (school_data_complete['reading_score']>70))].count()['name']

# Avereage Passing Math and Reading

Avg_math_score = school_data_complete['math_score'].mean()
Avg_reading_score = school_data_complete['reading_score'].mean()

# Percentage Passing Math and Reading
Percentage_math_score = Passing_math_count/Total_students *100
Percentage_reading_score = Passing_reading_count/Total_students *100

# Overall Passing Math and Reading
Overall_percentage = Overall_passing_count/Total_students *100
Values = [Total_schools,Total_students,Total_budget, Avg_math_score,Avg_reading_score, Percentage_math_score,Percentage_reading_score, Overall_percentage]
District_summary = pd.DataFrame([Values],columns = Columns)
District_summary = District_summary.round(2)
                                                  
District_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,72.39,82.97,60.8

## School Summary

In [ ]:
# Columns Details of the final Output
Columns = ['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']

# Basic Calculation
Per_school_count = school_data_complete['school'].value_counts()
Per_school_budget = school_data_complete['budget'].value_counts()
per_type = school_data_complete
Total_budget = school_data['budget'].sum()
Total_math_score = school_data_complete['math_score'].sum()
Total_reading_score = school_data_complete['reading_score'].sum()

# Total Passing Math and Reading
Passing_math_count = school_data_complete[(school_data_complete['math_score']>70)].count()['name']
Passing_reading_count = school_data_complete[(school_data_complete['reading_score']>70)].count()['name']
Overall_passing_count = school_data_complete[((school_data_complete['math_score']>70) & (school_data_complete['reading_score']>70))].count()['name']

# Avereage Passing Math and Reading

Avg_math_score = school_data_complete['math_score'].mean()
Avg_reading_score = school_data_complete['reading_score'].mean()

# Percentage Passing Math and Reading
Percentage_math_score = Passing_math_count/Total_students *100
Percentage_reading_score = Passing_reading_count/Total_students *100

# Overall Passing Math and Reading
Overall_percentage = Overall_passing_count/Total_students *100
Values = [Total_schools,Total_students,Total_budget, Avg_math_score,Avg_reading_score, Percentage_math_score,Percentage_reading_score, Overall_percentage]
District_summary = pd.DataFrame([Values],columns = Columns)
District_summary = District_summary.round(2)
                                                  
District_summary